# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Chroma database
chroma_db/
*.sqlite3

# Logs
*.log